@page "/siteMaster"
@inherits SiteMasterBase
@using BlazorTable
@using Blazor.FMEA.Shared.Models.Master

<h1>Site Master</h1>

@if (siteMasterDOs == null)
{
    <em>Loading...</em>
}
else
{
    <table class="table">
        <tr>
            <th>Site Number</th>
            <th>Site Description</th>
            <th>Site Abbr</th>
            <th>Edit</th>
        </tr>
        @foreach (var rec in siteMasterDOs)
        {
            <tr>
                <td>@rec.Site_Number</td>
                <td>@rec.Site_Desc</td>
                <td>@rec.Site_Abbr</td>
                <td>
                    <a href="@($"siteMasterDetail/{rec.Site_Number}")" class="btn btn-primary">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
        }
    </table>

    @*<Table TableItem ="SiteMasterDO" Items="siteMasterDOs" PageSize="15">
        <Column TableItem="SiteMasterDO" Title="Site Number" Field="@(x => x.Site_Number)" Sortable="true" Filterable="true" Width="20%" />
        <Column TableItem="SiteMasterDO" Title="Site Description" Field="@(x => x.Site_Desc)" Sortable="true" Filterable="true" Width="20%" />
        <Column TableItem="SiteMasterDO" Title="Site Abbr" Field="@(x => x.Site_Abbr)" Sortable="true" Filterable="true" Width="20%">
        </Column>
        <Column TableItem="SiteMasterDO" Title="Edit" Field="@(x => x.Site_Number)" Sortable="true" Width="10%">
            <Template>
                <a href="@($"siteMasterDetail/{context.Site_Number}")" class="btn btn-primary">
                    <i class="fas fa-edit"></i>
                </a>
            </Template>
        </Column>
        <Pager ShowPageNumber="true" ShowTotalCount="true" ShowPageSizes="true" />
    </Table>*@
}